@model IEnumerable<SelfHelpGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>Zelfhulpgroep</h1>

<p>
    <a asp-action="Create">Aanmaken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Omschrijving
            </th>
            <th>
                Boven de 16
            </th>
            <th>
                Chat naam
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboveSixteen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chat.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Aanpassen</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
